{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}

<div class="container">
	<h1 class="text-center">Welcome our ecommerce website</h1>
	<hr>
<div class="row">
{% for product in product_list %}
<div class="col-md-4">

<h1><a href="{% url 'ecomapp:productdetail' product.slug %}">{{product.title}}</h1>
<img src="{{product.image.url}}">
<p>Price:<strike> Rs. {{product.marked_price}}</strike> Rs. {{product.selling_price}}</p>
<a href="{% url 'ecomapp:addtocart' product.id %}" class="btn btn-primary">Add to Cart</a>
</div>

{% endfor %}
</div>
<hr>
<nav aria-label="...">
  <ul class="pagination">
  	{% if product_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{product_list.previous_page_number}}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
    {% endif %}
    {% for i in product_list.paginator.page_range %}
    {% if i == product_list.number %}
    <li class="page-item active">
      <a class="page-link">{{i}}</a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endif %}
    {% endfor %}
    {% if product_list.has_next %}
    <li class="page-item">

      <a class="page-link" href="?page={{product_list.next_page_number}}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
    	<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>

{% endblock %}