{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content  %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Search Results For<span class="text-info">"{{request.GET.keyword}}"</span>
			</h3>
			<hr>
			{% for result in results %}
			<div class="row">
				<div class="col-md-4">
					<img src="{{result.image.url}}" class="img-fluid" alt="">

				</div>
				<div class="col-md-8">
					<h4><a href="{% url 'ecomapp:productdetail' result.slug %}">{{result.title}}</a></h4>
					<p>{{result.description|truncatewords:50}}</p>
					<button class="btn btn-info"><a href="{% url 'ecomapp:addtocart' result.id %}">AddToCart</button>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>

	</div>

{% endblock %}